* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    line-height: 1.6;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #111;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav h2 {
    font-size: 28px;
}

nav h2 span {
    color: #ff4d00;
}

.nav-links {
    display: flex;
    gap: 22px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* General Sections */
section {
    padding: 90px 8%;
}

.tag {
    color: #ff4d00;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

/* Hero */
.hero {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg, #111, #222);
}

.hero h1 {
    font-size: 75px;
    line-height: 1;
    margin-bottom: 25px;
}

.hero-text {
    max-width: 550px;
    color: #ccc;
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    width: fit-content;
    padding: 14px 25px;
    background: #ff4d00;
    color:
